/* Button */
.cp-button > .cp-decoration-region {
    -fx-color: #888888;
    -fx-padding: 4;
    -fx-translate-x: 4;
    -fx-translate-y: 4;
}


/* Clear */
.cp-text-field .cp-clear-decoration {
	-fx-padding: 0 3 0 3;
}

.cp-text-field .cp-clear-decoration > .cp-decoration-region {
    -fx-background-color: #888888;
    -fx-padding: 2;
    -fx-min-height: 10;
    -fx-max-height: 10;
    -fx-min-width: 10;
    -fx-max-width: 10;
    -fx-scale-shape: true;
    -fx-shape: "M3,3.88888889,6.11111111,7,3,10.1111111,3.88888889,11,7,7.88888889,
        10.1111111,11,11,10.1111111,7.88888889,7,11,3.88888889,10.1111111,3,7,
        6.11111111,3.88888889,3 Z";
}

/* Search */
.cp-search-field .cp-search-decoration {
	-fx-padding: 0 0 0 8;
}

.cp-search-field .cp-search-decoration > .cp-decoration-region {
    -fx-background-color: #888888;
    -fx-padding: 0;
    -fx-min-height: 14;
    -fx-max-height: 14;
    -fx-min-width: 14;
    -fx-max-width: 14;
    -fx-scale-shape: true;
    -fx-shape: "M8.9654364,10.0260966 C8.13577623,10.6382069 7.11013877,11 6,11 C3.23857625,11 1,8.76142375 1,6 C1,3.23857625 3.23857625,1 6,1 C8.76142375,1 11,3.23857625 11,6 C11,7.11013877 10.6382069,8.13577623 10.0260966,8.9654364 L13.5303301,12.4696699 L12.4696699,13.5303301 L8.9654364,10.0260966 L8.9654364,10.0260966 L8.9654364,10.0260966 L8.9654364,10.0260966 Z M9.79999995,6 C9.79999995,3.90131798 8.09868202,2.20000005 6,2.20000005 C3.90131798,2.20000005 2.20000005,3.90131798 2.20000005,6 C2.20000005,8.09868202 3.90131798,9.79999995 6,9.79999995 C8.09868202,9.79999995 9.79999995,8.09868202 9.79999995,6 Z";
}